@{
    ViewBag.Title = "About";	
}
<script type="text/javascript">

    $(window)
        .load(function () {
            trackEvent("aboutPage_view");
        });

</script>
				<nav>
                    <div id="navigator">
                        <a href="#about">מי אנחנו</a><span>|</span>
                        <a href="#tech">הטכנולוגיה</a><span>|</span>
                        <a href="#services">שירותים</a><span>|</span>
                        <a href="#faq">שאלות נפוצות</a>
                    </div>
                </nav>

<div class="about-page">
        <div class="page" id="about">
            <div class="container">
                <h1>מי אנחנו</h1><br />
                <p>
                  מערכת Wisor הוקמה על מנת להחזיר את הכוח ללקוח בזמן לקיחת משכנתא. במציאות הכלכלית הנוכחית, מנצלים את חוסר הידע של הלקוחות, ויועץ משכנתא עלול להיות יקר ולא נגיש לכולם.
                    <br />
                    <br />
                   Wisor מאפשרת לך לדעת בדיוק כמה כסף תוכל לחסוך במשכנתא שלך, בחינם וללא התחייבות. לזה אנחנו קוראים מהפכה.
                </p>
            </div>
        </div>
        <div class="page" id="tech">
            <div class="container">
                <h1>הטכנולוגיה</h1><br />
                <p>
                    המערכת הייחודית שפותחה ב-Wisor,  מוצאת את הרכב המשכנתא המשתלם
ביותר עבורך.  כל בדיקה מוצאת את הפתרון המשתלם ביותר 
בהתאם ליכולות ולדרישות שלך, ולפי רמת הסיכון הרצויה.
                    <br/><br/>
                    המערכת משתמשת באלגוריתם חכם העוקב אחרי שינויים במדד המחירים לצרכן, 
ומשלבת אלמנטים של חוכמת ההמונים כדי לוודא שהתוצאות של כל בדיקה הן 
עדכניות ומדויקות.

                                          <br/><br/>

                    החישובים לוקחים בחשבון פרמטרים אישיים נוספים כמו הלוואות עומדות 
וחסכונות קיימים, כדי לספק המלצות המותאמות לך בצורה אישית.
                    <br/><br/>


                    בנוסף, המערכת מבצעת השוואה של הצעות מחיר שכבר קיבלת מבנקים,
 ותמליץ על מספר חלופות אופטימליות, אשר הכי משתלמות עבור המשכנתא הרצויה.



@*                    אנחנו פיתחנו תוכנה ייחודית אשר מוצאת את הרכב המשכנתא המשתלם ביותר עבור כל הלוואת משכנתא.*@
@*                    כל בדיקה מוצאת את הפתרון המשתלם ביותר בהתאם ליכולות ולדרישות הלווים, ולפי רמת הסיכון הרצויה, בכל הלוואה.<br/><br/>*@
@*                    האלגוריתם החדשני שאנחנו פיתחנו עוקב אחרי שינויים במדד המחירים לצרכן, ומשלב אלמנטים של "חוכמת ההמונים" כדי לוודא שהתוצאות של כל בדיקה הן עדכניות ומדויקות.<br/><br/>*@
@*                    החישובים שלנו לוקחים בחשבון פרמטרים אישיים נוספים כמו הלוואות נוספות וחסכונות קיימים, כדי לספק המלצות מותאמות בצורה אישית.<br/><br/>*@
@*                    המערכת שלנו תבצע השוואה של הצעות מחיר שכבר התקבלו מהבנקים, ותמליץ על כמה חלופות אופטימליות, אשר הכי משתלמות עבור המשכנתא הרצויה.*@
                </p>
            </div>
        </div>
        <div class="page" id="services">
            <div class="container">
                <h1>השירות שאנחנו מציעים</h1><br />
                <p>
                    מערכת Wisor מאפשרת לבדוק חינם וללא התחייבות כמה כסף ניתן לחסוך במשכנתא שלך. לאחר הרצה של מיליוני קומבינציות אפשריות, המערכת תציג במדויק את הסכום שניתן לחסוך.<br/>
                    קבלת דו"ח מפורט של הרכב המשכנתא האופטימלי איתו תוכלו לגשת לבנק, היא ללא תשלום!
                </p><br />
                <p class="services-p2">

                    מערכת Wisor מוצאת את הרכב ההלוואה הייחודי לעסקה המבוקשת, עם ההחזר הסופי הנמוך ביותר, והמשתלם ביותר עבורכם. הרכבים מומלצים הם האופטימליים עבור כל הלוואה בצורה ייחודית, לפי היכולות והדרישות האישיות של כל לקוח.
                </p>
                <h2>כבר קיבלתם הצעות מחיר מבנקים?</h2>
                <p> באפשרותכם להזין את הצעות המחיר שקיבלתם מהבנקים, Wisor תחשב את התשלום הסופי עבור כל הצעה ותמצא את ההצעה הזולה והמשתלמת ביותר. בנוסף, המערכת תרכיב לכם תוכנית משכנתא חלופית ותציג לכם כמה תוכלו לחסוך על פי המלצות האלגוריתם.
                </p>
                <h2>ואם כבר יש לי משכנתא?</h2>
                <p>המערכת תוכל לעזור לך לחסוך גם במחזור המשכנתא. ניתן להזין אל המערכת את נתוני המשכנתא הקיימת, כמו מחיר הנכס, יתרה שנשארה וכו', ו-Wisor תבדוק האם כדאי למחזר את המשכנתא הקיימת וכמה תוכלו לחסוך במעבר אל התמהיל החדש.</p>
                <h2>מה מקבלים אחרי התשלום?</h2>
                <p>במידה ובחרתם לחסוך, תקבלו דו"ח מפורט המציג מספר חלופות אפשריות עם רמות סיכון שונות. הדו"ח המפורט יציג את פירוט התשלומים בכל הרכב מומלץ, כולל תשלום ריבית וקרן, הצמדות ועוד. כל שנותר הוא לבחור את תמהיל המשכנתא המתאים ביותר עבורכם, מתוך ההמלצות.
                    עם הדו"ח שהמערכת מנפיקה, תוכלו גשת  לבנקים למשכנתאות ודורשים הצעות ריבית עבור התמהיל שבחרתם – התמהיל שהכי משתלם לכם.
                    הבנק אשר יציע לכם את הריביות הזולות ביותר עבור התמהיל הנבחר, האופטימלי, הוא הבנק בו ההחזר יהיה הזול ביותר.
                    הדו"ח המפורט יציג את פירוט התשלומים בכל הרכב מומלץ, כולל תשלום ריבית וקרן, הצמדות ועוד.</p>
                <br/>
                @*<a class="item-title" style="color: #484848;" href="..\..\images\example_report.pdf" target="_blank"> <b>צפה בדו"ח לדוגמא</b></a>*@

            </div>
        </div>
        <div class="page" id="faq">
            <div class="container">
                <h1><span>שאלות נפוצות</span></h1>
                <div id="questions" class="accordion">
                    <div class="question item">
                        <div class="item-title">מה זה ייעוץ משכנתא?</div>
                        <div class="item-content">
                            ייעוץ משכנתא הוא למעשה עזרה מקצועית בתכנון הלוואת משכנתא, כלומר בתכנון ההחזר של הלוואה מבוקשת בצורה הכלכלית ביותר.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">הפקיד בבנק לא יועץ משכנתאות?</div>
                        <div class="item-content">
                           כן ולא. בנק הוא מוסד לכוונת רווח, ומטרתו למקסם רווחים בכל עסקה. בנקים מציעים מגוון "מסלולי" הלוואה בעלי מאפיינים שונים. פקיד המשכנתאות בבנק מעדף את יעדי הבנק, ומנצל את ההיגיון של פיזור סיכונים כדי לבנות הלוואה שתמקסם את רווחי הבנק, לאו דווקא תמקסם את החיסכון עבור הלווה. פקיד בבנק הוא יועץ בהכשרה, אבל לא בהכרח מייעץ בצורה אובייקטיבית לטובת הלווה.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">מדוע ייעוץ משכנתאות הינו שירות בתשלום?</div>
                        <div class="item-content">
                            נטילת משכנתא היא אחת ההחלטות הפיננסיות הגדולות והחשובות בחיינו. מכיוון שמדובר בסכומי כסף גדולים והחזר לאורך שנים רבות, חשוב להיעזר בשירות מקצועי ואובייקטיבי, אשר יעזור בתכנון נכון של המשכנתא.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">למה כדאי לי להשתמש ב- Wisor?</div>
                        <div class="item-content">
                         אנו מאפשרים לדעת בדיוק כמה כסף ניתן לחסוך במשכנתא, ומנפיקים דוח איתו תוכל לגשת לבנק לקבלת ההצעה הנמוכה ביותר, בעלות הנמוכה משמעותית מיועץ משכנתאות. אין צורך לתאם פגישה עם יועץ, ולשלם אלפי שקלים כדי לקבל ייעוץ משכנתאות מקצועי, אובייקטיבי ואמין. השירות שלנו זמין מהמחשב הביתי שלך, כל מקום ובכל שעה. <br />
גם אם אתם בטוחים שקיבלתם הצעה הכוללת את הריביות הכי נמוכות, חשוב לוודא שהרכב ההלוואה הוא המתאים ביותר, והזול ביותר עבורכם. בדקו עכשיו כמה כסף ניתן לחסוך מול הצעות המחיר שקיבלתם, זה חינם!
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">מה העיקרון הכי חשוב בתכנון משכנתא?</div>
                        <div class="item-content">
                            הדבר הכי חשוב בהלוואה הוא בניית תמהיל חכם להחזר ההלוואה לבנק.<br />
                            חשוב לבנות הרכב אשר מפזר את הכסף בין מספר מסלולים, ומתאים ליכולת ההחזר של הלווים. לכן חשוב להגדיר החזר חודשי רצוי עבור ההלוואה, ולתכנן שהרכב ההלוואה יתאים להחזר הרצוי. כל חלק בהלוואה יכול להיות לתקופה שונה, והחזר יכול להיות קבוע, או מדורג לאורך זמן.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">איך אני באמת יודע איזה בנק מציע את ההצעה הטובה ביותר?</div>
                        <div class="item-content">
                           בשורת התחתונה, ההצעה שבה מחזירים הכי מעט בסוף תקופת ההלוואה, היא ההצעה הזולה ביותר. האתגר למציאת ההלוואה הטובה ביותר הוא שכל בנק מציע הרכב משכנתא שונה, עם ריביות שונות, וכדי להשוות יש לחשב את התשלום המצטבר שיוחזר לבנק, בכל הצעה.<br />
אנו מאפשרים להזין הצעות מחיר שכבר התקבלו, כדי להשוות לדעת איזו הצעה היא היקרה ביותר, איזו הזולה ביותר והאם ניתן לקבל הצעה נוספת, זולה עוד יותר. את הבדיקה ניתן לבצע בחינם!
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">למי מתאים השירות?</div>
                        <div class="item-content">
                            השירות של Wisor מתאים לכל מי שמתכנן ליטול משכנתא, וקיבל אישור עקרוני עבור ההלוואה מבנק אחד לפחות. השירות מתאים לבדיקה של משכנתא חדשה לרכישת נכס, או בדיקה של מחזור הלוואה קיימת.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">האם המידע שמסרתי במערכת מוגן ובטוח?</div>
                        <div class="item-content">
                            אנחנו דואגים לאבטחה ברמה הגבוהה ביותר, ומחויבים לשמור את כל פרטיך בסודיות ולבצע בהם שימוש אך ורק בהסכמתך, ולצורכי הליך השירות המבוצע בלבד.<br />
                            כל הנתונים בינך ובין האתר מועברים על גבי תקשורת SSL מאובטחת.<br />
 איננו שומרים את פרטי כרטיס האשראי של לקוחותינו.<br />
לפרטים נוספים ניתן לעיין 
                            <a href="~/Home/TOS">במדיניות הפרטיות </a> שלנו, ובתקנון
                           ו<a href="~/Home/TOS">תנאי השימוש</a>   באתר.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">האם אתם עובדים בשיתוף עם בנקים למשכנתאות?</div>
                        <div class="item-content">
                            לא. Wisor הינה חברה עצמאית , ללא קשרים לגופים פיננסיים או בנקים למשכנתאות. האלגוריתם של Wisor מבצע מעקב שוטף אחרי הריביות המוצעות בכל בנק למשכנתאות, כדי לספק ללקוחותינו המלצות מדויקות לכל הלוואה נבדקת. לאחר איסוף הנתונים ננפיק לכם דוח מפורט איתו תוכלו לגשת לבנק אולם איננו מתערבים במשא ומתן עצמו.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">תוך כמה זמן אקבל את תוצאות החישוב?</div>
                        <div class="item-content">
                            חישוב החיסכון הפוטנציאלי עבור הלוואה, מוצע בחינם, ועורך בין מספר שניות ועד 2 דקות. דוח מפורט עבור הלוואה לבדיקה, לאחר ביצוע תשלום, ישלח לך בתוך 24 שעות.
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">כמה כסף אוכל לחסוך אם אבחר להשתמש בהרכב שהמלצתם לי?</div>
                        <div class="item-content">
                            לקוחותינו חוסכים בממוצע בין 6-12 אחוזים מסכום ההלוואה המקורי.<br />
רוצים לדעת כמה תוכלו לחסוך? בדקו עכשיו חינם!
                        </div>
                    </div>
                    <div class="question item">
                        <div class="item-title">מה עושים במקרה של תקלה?</div>
                        <div class="item-content">
                           בכל מקרה של תקלה ניתן ליצור אתנו קשר במייל, 24 שעות ביממה, 7 ימים בשבוע. אנחנו מבטיחים לענות לכל פנייה כמה שיותר מהר, ולכל המאוחר תוך 24 שעות מרגע קבלת הפנייה. יש לבחור בנושא ההודעה המתאים בעמוד יצירת קשר, ולהוסיף כמה שיותר פרטים בנוגע לתקלה.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="start-button-box">
            <div class="start-button"><div></div></div>
        </div>
    </div>